.btn {
	padding: 0.7rem 3.8rem;
	border-radius: 10rem;
	cursor: pointer;
}

.btn-green {
	background-color: $green-color;
	color: $default-color;
	transition: all 0.2s ease;
	&:hover {
		background-color: darken($color: $green-color, $amount: 5%);
	}
}

.btn-white {
	background: $default-color;
	box-shadow: 0px 6px 21px rgba(166, 175, 205, 0.22);
	padding: 1.5rem 3.8rem;
	&:hover {
		background-color: darken($color: $default-color, $amount: 5%);
	}
}

// keep reading btn (green)
.keep-read {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	font-weight: 600;
	font-size: 1.4rem;
	color: $green-color;
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: -11.6rem;
		height: 1px;
		width: 100%;
		background-color: #e1e5f2;
		transform: translateY(-50%);
	}
}

// swiper btn

.swiper-btn {
	background: $default-color;
	box-shadow: 1px 7px 21px rgba(166, 175, 205, 0.16);
	border-radius: 10rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1.8rem 2.8rem;

	&__arr {
		width: 2rem;
		height: 100%;
		cursor: pointer;

		&:first-child {
			transform: rotate(180deg);
		}
	}

	&__line {
		height: 100%;
	}
}
