.btn {
	padding: 0.7rem 4.8rem;
	border-radius: 10rem;
	cursor: pointer;
}

.btn-green {
	background-color: $green-color;
	color: $default-color;
	transition: all 0.2s ease;
	&:hover {
		background-color: darken($color: $green-color, $amount: 5%);
	}
}

.btn-white {
	background: $default-color;
	box-shadow: 0px 6px 21px rgba(166, 175, 205, 0.22);
	padding: 1.5rem 3.8rem;
	&:hover {
		background-color: darken($color: $default-color, $amount: 5%);
	}
}

.btn-purple {
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	background-color: $purple-color;
	color: white;
}

// keep reading btn (green)
.keep-read {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
	font-weight: 600;
	font-size: 1.4rem;
	color: $green-color;
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: -11.6rem;
		height: 1px;
		width: 100%;
		background-color: #e1e5f2;
		transform: translateY(-50%);
	}
}

// swiper btn

.swiper-btn {
	background: $default-color;
	box-shadow: 1px 7px 21px rgba(166, 175, 205, 0.16);
	border-radius: 10rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 1.8rem 2.8rem;

	&__arr {
		width: 2rem;
		height: 100%;
		cursor: pointer;

		&:first-child {
			transform: rotate(180deg);
		}
	}

	&__line {
		height: 100%;
	}
}

.next-prev-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0;
	&__item {
		background: $default-color;
		box-shadow: 0px 6px 21px rgba(166, 175, 205, 0.22);
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1.5rem 2.5rem;
		cursor: pointer;
		color: $green-color;
	}
	&__prev {
		border-radius: 100px 0px 0px 100px;

		& svg {
			transform: rotate(180deg);
		}
	}

	&__next {
		border-radius: 0px 100px 100px 0px;
	}
}

// info-btn

.book-card-first__i {
	width: 3.2rem;
	height: 3.2rem;
	cursor: pointer;
	box-shadow: 1px 4px 12px rgba(166, 175, 205, 0.36);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

// btn-select

.btn-select {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 2.4rem;
	height: 2.4rem;
	box-shadow: 1px 4px 12px rgba(166, 175, 205, 0.36);
	border-radius: 50%;
	transition: all 0.2s;
}

// swiper btn with additional info

.book-card-first {
	&__btns {
		position: relative;
		display: flex;
		justify-content: center;
	}

	&__announc {
		position: absolute;
		padding-top: 0;
		padding-bottom: 0;
		background-color: $default-color;
		box-shadow: 0px 4px 8px rgba(143, 153, 186, 0.16);
		color: $secondary-color;
	}
}
