.card {
	background: $default-color;
	box-shadow: 0px 11px 48px rgba(123, 129, 148, 0.4);
	border-radius: 2.3rem;
	padding: 2.9rem;
	z-index: 20;
	position: relative;
	max-width: 138rem;
	margin: 0 auto;
	&__content {
		display: flex;
		gap: 3.3rem;
	}

	&__left {
		width: 100%;
		max-width: 54rem;
	}

	&__right {
		width: 100%;
	}

	&__open {
		color: $red-color;
		font-weight: 500;
		font-size: 1.4rem;
		margin-bottom: 1.1rem;
		& span {
			font-weight: 900;
		}
	}
	&__name {
		color: $mainFontColor;
		margin-bottom: 0.5rem;
	}
	&__review {
		display: flex;
		align-items: center;
		gap: 1.3rem;
		color: $secondary-color;
		margin-bottom: 1.3rem;
	}

	&__stars {
		display: flex;
		align-items: center;

		& span {
			color: #9da7c7;
			margin-left: 1rem;
		}
	}

	&__star {
	}

	&__feedback {
		color: $green-color;
		text-decoration: underline;
	}
}
.card-under {
	padding-top: 7rem;
}

.card-bottom-btn {
	padding-top: 5.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__left {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		& * {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
}

.card-hall {
	z-index: 8;
}
.card-service {
	z-index: 7;
}
.card-bath {
	z-index: 6;
}
