.chat-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1.1rem;
		padding-left: 1.1rem;
		padding-right: 1.7rem;
		padding-bottom: 1.4rem;
		border-bottom: 1px solid $secondary-color;
	}

	&__left {
		display: flex;
		align-items: center;
	}
	&__left1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__img {
		position: relative;
	}
	&__img1 {
		display: flex;
		align-items: center;
		position: relative;
	}


	&__img-avatar {
		position: absolute;
		top: -2px;
		left: -2px;
		border: 3px solid #fff;
		border-radius: 50%;
		width: 3.5rem;
	}

	&__img-bg {
		width: 12rem;
		border-radius: 12px;
	}
	&__img-bg1 {
		width: 2rem;
		height: 17px;
	}

	&__name {
		color: $mainFontColor;
		margin-bottom: 0.5rem;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 16px;
	}
	&__name1 {
		color: $mainFontColor;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 16px;
		margin: 0 17px 0.5rem;
	}

	&__text {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: #8F99BA;
		opacity: 0.8;
		width: 144px;

		& span {
			color: $green-color;
		}
	}

	&__checked {
		align-self: flex-start;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__right {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&__main {
	}

	&__unread {
		display: flex;
		padding: 0 2rem;
		justify-content: flex-end;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 78%;
			height: 1px;
			background-color: $secondary-color;
			top: 50%;
			left: 2rem;
			transform: translateY(-50%);

			@media screen and (max-width: 768px) {
				width: 40%;
			}
		}
	}

	&__unread-text {
		color: $secondary-color;
	}

	&__type {
	}
}
.main-chat {
	padding: 1.7rem 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	&__btn {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	&__date {
		display: flex;
		align-items: center;
		justify-content: center;
		& span {
			background: #d3d9ea;
			border-radius: 100px;
			font-weight: 500;
			font-size: 1.1rem;
			color: #ffffff;
			padding: 0.1rem 0.7rem;
		}
	}

	&__res {
	}

	&__res-item {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__res-text {
	}

	&__res-time {
		color: $secondary-color;
	}

	&__chatting {
		padding-top: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		flex: 1;
		overflow-y: scroll;
	}

	&__answer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__answer-item {
		display: flex;
		align-items: center;
		border-radius: 100px;
		padding: 1rem 2rem;
		gap: 0.8rem;
		background-color: #d8ffd1;
	}

	&__answer-text {
	}

	&__answer-time {
		color: $secondary-color;
	}

	&__how {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 4rem;
		margin-bottom: 7rem;
	}

	&__how-text {
		margin-top: 2.5rem;
		color: $secondary-color;
	}
}
.type-chat {
	padding: 0 1rem 1.1rem;
	&__inner {
		background: #ffffff;
		box-shadow: 0px 11px 29px rgba(123, 129, 148, 0.19);
		border-radius: 23px;
		padding: 1.5rem 1rem 1.5rem 2.4rem;
	}
	&__title {
		color: $mainFontColor;
		margin-bottom: 1.5rem;

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__vars {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		margin-bottom: 1.5rem;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__var {
		padding: 0.6rem 1.2rem;
		background: #ffffff;
		box-shadow: 1px 7px 21px rgba(166, 175, 205, 0.22);
		border-radius: 100px;
		color: $mainFontColor;
		cursor: pointer;
	}

	&__input {
		width: 100%;
		background: #ffffff;
		box-shadow: inset 0px 0px 8px rgba(136, 152, 206, 0.46);
		border-radius: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.8rem 1.6rem;
		box-sizing: border-box;

		& label {
			padding-right: 1.5rem;
			cursor: pointer;
		}
	}

	&__input-item {
		border: none;
		outline: none;
		background: transparent;
		flex: 1;

		&::placeholder {
			color: $secondary-color;
		}
	}

	&__input-file {
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		visibility: hidden;
	}
}
