input[type="checkbox"],
input[type="radio"] {
  --active: #fff;
  --active-inner: #17a300;
  --focus: .2rem rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #17a300;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 2.6rem;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  background: #ffffff;
  box-shadow: inset 0px 0px 8px rgba(136, 152, 206, 0.46);
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  &:after {
    content: "";
    display: block;
    left: 0.5rem;
    top: 0.1rem;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    border: .4rem solid #17a300;
    box-shadow: none;
  }
  &:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    & + label {
      cursor: not-allowed;
    }
  }
  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }
  &:focus {
    box-shadow: none;
    border: 4px solid #17a300;
  }
  &:not(.switch) {
    width: 2.6rem;
    &:after {
      opacity: var(--o, 0);
    }
    &:checked {
      --o: 1;
    }
  }
  & + label {
    font-size: 1.4rem;
    line-height: 2.1rem;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: .4rem;
  }
}
input[type="checkbox"] {
  &:not(.switch) {
    border-radius: .6rem;
    &:after {
      width: .5rem;
      height: .9rem;
      border: .2rem solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 0.6rem;
      top: 0.2rem;
      transform: rotate(var(--r, 20deg));
    }
    &:checked {
      --r: 43deg;
    }
  }
  &.switch {
    width: 3.8rem;
    border-radius: 1.1rem;
    &:after {
      left: .2rem;
      top: .2rem;
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 1.7rem;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}