.input {
  width: 100%;
  background: #ffffff;
  box-shadow: inset 0px 0px 8px rgba(136, 152, 206, 0.46);
  border-radius: 100px;
  padding: 0.8rem 1.6rem;
  box-sizing: border-box;
  border: none;
  &_textarea{
    border-radius: 23px;
  }
  :placeholder {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:$secondary-color;
  }
}
