.h1 {
	font-family: 'Gilroy-Bold';
	font-size: 2.6rem;
	font-weight: 900;
	color: #000000;
}

.h2 {
	font-weight: 800;
	font-size: 2rem;

	color: #000000;
}

.h4 {
	font-weight: 700;
	font-size: 1.6rem;

	color: #000000;
}

.h5 {
	font-weight: 600;

	color: #000000;
}

.h5-mini {
	font-weight: 600;
	font-size: 1.1rem;
	color: #000000;
}

.h6 {
	font-weight: 600;
	font-size: 1.1rem;

	color: #000000;
}
