@import '../styles/vars.scss';
@import '../styles/common/title.scss';
@import '../styles/common/btns.scss';
@import '../styles/common/card.scss';
@import '../styles/common/checkbox.scss';
@import '../styles/common/swiper.scss';

//fonts
@font-face {
	font-family: "Gilroy";
	src: url("/assets/fonts/Gilroy-Black.woff2") format("woff2");
}
@font-face {
	font-family: "Lato";
	src: url("/assets/fonts/Lato-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("/assets/fonts/Lato-Medium.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Lato";
	src: url("/assets/fonts/Lato-Semibold.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: "Lato";
	src: url("/assets/fonts/Lato-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

html {
	line-height: $mainLineHeight;
	color: $mainFontColor;
	height: 100%;
	font-size: 10px;
	scroll-behavior: smooth;
	@media screen and (min-width: 1000px) {
		font-size: calc(10vw / 16);
	}
	@media screen and (min-width: 1240px) {
		font-size: calc(10vw / 16);
	}
	@media screen and (min-width: 1440px) {
		font-size: calc(10vw / 17);
	}
	@media screen and (min-width: 1630px) {
		font-size: calc(10vw / 19);
	}
}

body {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	background-color: $mainBackgroundColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
button {
	border: none;
}
a {
	text-decoration: none;
	color: $mainFontColor;
}
p {
	margin: 0;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	flex: 0 0 auto;
	margin: 0 auto;
	width: 100%;
	max-width: $lgDesktopWidth;

	// @media screen and (max-width: $lgDesktopWidth) {
	// 	padding: 0 1.6rem;
	// }

	// @media screen and (max-width: $smDesktopWidth) {
	// 	max-width: $tableWidth;
	// }

	// @media screen and (max-width: $tableWidth) {
	// 	max-width: $smTableWidth;
	// }

	// @media screen and (max-width: $smTableWidth) {
	// 	max-width: $phoneWidth;
	// }
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
}

.wrapper-content {
	display: flex;
	flex: 1 0 auto;
	margin-top: 10rem; // if header is fixed do mt: headerHeight
	// @media screen and (max-width: $tableWidth) {
	// 	margin-top: 90px;
	// }
}

// badje

.card__top-tariff {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	position: absolute;
	top: 0.5rem;
	left: -4.5rem;
	padding: .5rem 0.5rem 0.5rem 1.5rem;
	background: #ffffff;
	box-shadow: 0px 6px 21px rgba(166, 175, 205, 0.22);
	border-radius: 100px;

	& svg {
		& circle {
			stroke: $secondary-color;
		}
		& path {
			fill: $secondary-color;
		}
	}

	&.book {
		color: $purple-color;

		& svg {
			& circle {
				stroke: $purple-color;
			}
			& path {
				fill: $purple-color;
			}
		}
	}

	&.vip {
		color: $vip-color;

		& svg {
			& circle {
				stroke: $vip-color;
			}
			& path {
				fill: $vip-color;
			}
		}
	}

	&.buy {
		color: $green-color;

		& svg {
			& circle {
				stroke: $green-color;
			}
			& path {
				fill: $green-color;
			}
		}
	}
}

.no-box {
	box-shadow: none !important;
}
