
// Font
$mainFont                : 'Lato-Semibold', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #3E3E51;
$mainFontSize            : 1.4rem;
$mainLineHeight          : 1.5;
$mainBackgroundColor     : #F5F5F5;


$lgDesktopWidth          : 1400px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Main color
$default-color           : #ffffff;
$secondary-color         : #8F99BA;
$green-color             : #17A300;
$red-color               : #EB5757;
$vip-color               : #FABA17;
$gray-color              : #7A7A7A;
$purple-color            : #9B51E0;

// Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;