// Font
$mainFont: "Lato", Lato, SF-light, Roboto, Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #3e3e51;
$mainFontSize: 1.4rem;
$mainFontWeight: 600;
$mainLineHeight: 1.5;
$mainBackgroundColor: #f5f5f5;

$lgDesktopWidth: 140rem;
$desktopWidth: 128rem;
$smDesktopWidth: 102.4rem;
$tableWidth: 76.8rem;
$smTableWidth: 64rem;
$phoneWidth: 48rem;
$smPhoneWidth: 32rem;

// Main color
$default-color: #ffffff;
$secondary-color: #8f99ba;
$light-gray-color: #e1e5f2;
$green-color: #32bd1b;
$red-color: #eb5757;
$vip-color: #faba17;
$gray-color: #7a7a7a;
$purple-color: #9b51e0;

//border-radius
$mainBorderRadius: 10rem;
$fullRadius: 100%;

// Neutral Color
// $neutral-primary         : #303133;
// $neutral-regular         : #606266;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;

// Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;
